<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="text-center">About</h1>
    <p class="articleText">
      Hi. I'm Phil Flanagan. This is my micro blog written with the Ruby on Rails framework.
      I both designed, and developed this site.</p>
      
      <h3>A few key points: </h3>
      <ul>
        <li>The posts must be short, less than 10,000 characters</li>
        <li>No images or frills, just content</li>
        <li>That's basically it.</li>
      </ul>
      
      <p class="articleText">Enjoy!</p>
  </div>
</div>