// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

$blue: #428bca;
$darkerblue: #3f83bf;
$darkestblue: #325aa6;
$yellow: #f0ff4c;
$red: #d9534f;
$darkerred: #cc4e49;
$darkestred: #80312e;

/* Adjust for fixed navbar */
body { 
  padding-top: 40px; 
}

/* Default Typography */
p, li {
    font-family: Lato, "Helvetica Neue", sans-serif;
line-height: 1.4em;
}


/* Header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}


/* Override Bootstrap */
@media screen and (max-width: 768px) {
    #logo { padding-left: 20px; }
}

.navbar {
  background-color: $blue;
  border-bottom: $darkestblue;
}

ul.nav a{
  color: white !important;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
  background-color: $darkerblue ;
}

.dropdown-menu > li > a:hover {
  background-color:$blue;
}

ul.nav a:hover { 
  color: $yellow !important; 
  
}

.dropdown-menu {
  background-color: $darkerblue;
}

.navbar-inverse .navbar-toggle{
  border-color: white !important;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: $darkerblue !important;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: $darkerblue;
}

.dropdown-menu {
  background-color: $darkerblue !important;
}

@media (max-width: 767px){
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: white;
  }
}

.hero {
  background-color: $blue;
	background-image: asset-url('new-york.jpg');
	background-size: cover;
	height: 100vh;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero h1{
  letter-spacing: -5px;
  font-size: 7em;
  color: white;
  font-family: Cabin, sans-serif;
  font-weight: 700;
  text-shadow: 0px 0px 30px #555;
}

/* Buttons */
.btn {
  font-family: "Helvetica Neue", sans-serif;
  text-transform: uppercase;
     font-weight: 700; 
}

.btn-xlarge {
  font-size: 1.7em;
  padding: 10px 40px;
  box-shadow: 0px 0px 10px #555;
}

/* Footer */
.footer, .footer a {
  bottom: 0;
  padding-top: 10px;
  background-color: #555;
  color: #ccc;
  font-family: Lato, sans-serif;
  font-weight: 700;
}

.footer a:hover {
  color: white;
}

.footer i {
  margin-left: 5px;
}

/* Error */
.error {
  background-color: $red;
  border: 1px solid $darkestred;
  border-radius: 5px;
  padding: 5px 20px 15px 20px;
  margin-bottom: 10px;
}
.error li {
  color: white;
}
.error h2 {
  color: white;
  font-size: 1.5em;
}