<div class="container-fluid footer">
  <p class="text-center">
    &copy; Copyright 2016 Phil Flanagan 
    <a href="https://github.com/phileflanagan"><i class="fa fa-lg fa-github-square"></i></a> 
    <a href="https://www.linkedin.com/in/phileflanagan"><i class="fa fa-lg fa-linkedin-square"></i></a>
    <a href="http://philunfiltered.com"><i class="fa fa-lg fa-external-link-square"></i></a>
  </p>
</div>